body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 241, 232);
    
}
.container{
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 400px;
    background-color: #f0f0f0;
    border-radius: 15px;
}
.output{
    width: 280px;
    height: 80px;
    border: 1px solid black;
    font-size: 30px;
    word-wrap: break-word;
    border-top-left-radius: 15px;
    padding: 10px;
    
}
.remove{
    width: 100px;
    height: 101px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    border-top-right-radius: 15px;
    color:rgb(0, 0, 0);
}
.one{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.tow{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.three{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.four{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.five{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.six{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.seven{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.eight{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.nine{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.comma{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    border-bottom-left-radius: 15px;
}
.zero{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}
.eql{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    background-color:rgb(250, 199, 140);
}
.plus{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
    background-color:rgb(250, 199, 140);
}
.minus{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
    background-color:rgb(250, 199, 140);
}
.multiple{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
    background-color:rgb(250, 199, 140);
}
.divid{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
    color:rgb(0, 0, 0);
    background-color:rgb(250, 199, 140);
    border-bottom-right-radius: 15px;
    
}
.a{display: flex;}
.b{display: flex;}
.c{display: flex;}
.d{display: flex;}
.e{display: flex;}